body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

header,
footer {
    background-color: #d6acac;
    padding: 20px;
    text-align: center;
}


.site-title {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

#my-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 400px;
}

nav ul li {
    list-style-type: square;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

ul li:nth-child(2) {
    font-style: italic;
    background-color: rgb(216, 171, 180);
}

ul li a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}